.AddItemButton {
    width: 100px;
    padding: 5px;
    left: 10px;
}
.AddItemButton button {
    background: transparent;
    outline: none;
    border: 0;
    color: #8a2be2;
    cursor: pointer;
}